{% extends "home.html" %}
{% load staticfiles %}
{% block link %}
    <script type="text/javascript" src="{% static "js/student_assistant_suspend.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="page_title">
        学员休学记录
    </div>
    <div class="search">
        <button type="button" class="btn btn-primary btn-xs" onclick="onQuery();">刷新</button>
        <button type="button" class="btn btn-default btn-xs" onclick="onAdd();">新增</button>
        <input type="hidden" id="txtStudentID" value="{{ query.student_id }}">
    </div>
    <br/>
    <div class="table-responsive">

        <table class="table table-bordered  table-hover table-striped">
            <tr>
                <td class="td_title">记录id</td>
                <td class="td_title">学员姓名</td>
                <td class="td_title">教务老师</td>
                <td class="td_title">休学开始时间</td>
                <td class="td_title">休学结束时间</td>
                <td class="td_title">休学理由</td>
            </tr>

            {% for log in log_list  %}
            <tr>
                <td class="td_cell">{{ log.id }}</td>
                <td class="td_cell">{{ log.student_name }}</td>
                <td class="td_cell">{{ log.assistant_name }}</td>
                <td class="td_cell">{{ log.start_at | date:'Y-m-d'}}</td>
                <td class="td_cell">{{ log.end_at | date:'Y-m-d'}}</td>
                <td class="td_cell">{{ log.reason }}</td>
            </tr>
            {% endfor %}


        </table>
    </div>


{% endblock %}
