{% extends "home.html" %}
{% load staticfiles %}
{% block link %}
    <script type="text/javascript" src="{% static "js/student_assistant_communication.js" %}"></script>
{% endblock %}

{% block content %}
    <form id="form1" name="form1">
    <div class="op_panel">
        <div>
            没有提供修改和删除功能，如果新增错了，赶紧带上零食去找研发
            <input type="hidden" id="txtStudentID" value="{{ student_id }}">
        </div>

        <div class="table-responsive">

        <table class="table table-bordered ">
            <tr>
                <td class="td_name">教务老师：</td>
                <td class="td_content">
                    <select id="slctAssistant" class="mw mh">
                        <option value="">请选择教务老师</option>
                        {% for assistant in assistant_list %}
                            <option value="{{ assistant.id }}">{{ assistant.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="td_remark">必填，如果你不知道，赶紧去教务问一下
                </td>
            </tr>
            <tr>
                <td class="td_name">沟通阶段：</td>
                <td class="td_content">
                    <select id="slctStage" class="mw mh">
                        <option value="-1">请选择沟通阶段</option>
                        <option value="0">学习未开始</option>
                        <option value="1">学习期</option>
                        <option value="2">结业期</option>
                        <option value="3">就业期</option>
                        <option value="4">服务结束</option>
                   </select>
                </td>
                <td class="td_remark">最低要求：未开始学习有1次，开始学习后第一周有1次，然后每个月1次，就业期有1次，服务结束有1次。
                </td>
            </tr>
            <tr>
                <td class="td_name">沟通时间：</td>
                <td class="td_content">
                    <input type="text" id="txtCommunicateAt" class="form-control borderSize mw" value="" />
                </td>
                </td>
                <td class="td_remark">必填，记得要按这种格式写：2018-08-18
                </td>
            </tr>
            <tr>
                <td class="td_name">沟通内容：</td>
                <td class="td_content">
                    <textarea rows="3" id="txtContent" class="form-control borderSize mw"></textarea>
                </td>
                <td class="td_remark">必填，沟通内容，留了500字给你，多少还是要写点
                </td>
            </tr>
        </table>
    </div>
    <div>
        提交前仔细核对一下，要修改的话研发很麻烦的，萌萌哒~
    </div>
    <div class="op_panel" style="text-align: center;">
        <input type="button" id="btnAdd" class="btn btn-primary" onclick="onAddDo()"  value="确定">
        &nbsp;&nbsp;
        <input type="button" id="btnReturn" class="btn btn-default" onclick="onReturn('{{ student_id }}')"  value="返回列表">
    </div>

    </div>
    <br>
    <br>
    {% include "include/alertDialog.html" %}
    </form>
{% endblock %}
