<div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="confirmTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirmTitle">Modal title</h4>
      </div>
      <div id="confirmContent" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button id="confirm_btnCancel" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="confirm_btnOK" type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>